<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon>energy_savings_leaf</mat-icon>
      <span class="brand">Geothermik</span>

      <button mat-button routerLink="/">
        <mat-icon>home</mat-icon>
        Acceuil
      </button>
      <button mat-button routerLink="/support">
        <mat-icon>calculate</mat-icon>
        Nouvelle estimation
      </button>

      <span class="spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<main>
  <router-outlet></router-outlet>
</main>
