.title {
  margin-left: 16px;
}

mat-card {
  margin-left: 4vw;
  margin-right: 4vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

.estimation-error-wrapper {
  display: flex;
  align-items: center;
  mat-icon {
    margin-right: 8px;
  }
}
.estimation-error-message {
  padding: 24x 0;
}
